.container{
    font-family: sans-serif;
    width: 600px;
    margin: 0px auto;
}

header h1{
    border: 1px solid black;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 30px;
    
}

main{
    padding-left: 20px;
}

main div{
    padding-left: 30px;

}
main .icone_casa{
    width: 3%;
}

main div p{
    display: inline-block;
    padding-left: 20px;
}

main div form label, main div form input{
    display: inline-block;
    margin-top: 15px;

}
main div form{
    position: relative;
}
.ano, .matricula, .nome{
    position: absolute;
    border-radius: 5px;
    border: 2px solid #ccc;
    left: 150px;
}

.matricula{
    width: 120px;
}
.ano{
    width: 70px;
}
.nome{
    width: 300px;
}
.confirmarBtn{
    width: 90px;
    background-color: green;
    padding: 5px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 50px;
}
.cancelarBtn{
    width: 90px;
    background-color: red;
    padding: 5px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 50px;
}